/* //use if decide to make footer across all pages  */
/* #contact {
   width: 100%;
   display: inline-flex;
   
}

#footer p {
   text-align: left;
   width: 70%;
   font-size: 16px;
   color: gray;
}

#socials {
   padding-top: 25px;
   padding-left: 10px;
   font-size: 30px;
   color: gray;

}

#socials:hover {
   color: rgba(0, 0, 0, 0.703);
}

@media (max-width: 650px) {
   #footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0px;
   }


} */