#contact{
   padding-top: 150px;
   width: 100%;
}

#footer{
   display: flex;
   padding-left: 60px;
}

#footer p{
   text-align: left;
   width: 70%;
   font-size: 16px;
}

#socials{
   padding-top: 25px;
   padding-left: 10px;
   font-size: 30px;
   color: black;

}

#socials:hover{
   color: rgba(0, 0, 0, 0.703);
}

@media (max-width: 650px) {
   #footer{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0px;
   }


}
